/* 
Author: Adam Sapit
Date: 11/19/2024
Assignment Title: Paths To Success
*/
  
/* -------------------- IMPORTED FONTS -------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */ 

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------- ROOT VARIABLES --------------------------------------- */

:root{
    --kavoon: 'Kavoon', normal;
    --inter: 'Inter', italic;
    --Teal :#4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57; 
    --pink:#D9526F;
    --dark-gray:#1E1E1E; 
    --white:#ffffff; 
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/



html{
    background-color: var(--purple);
    font-family: var(--inter);
}

h1, h2{
    font-family: var(--kavoon);
    color: var(--white);
}

h1{
    font-size: 3em;
}

.sticky{
    font-size: 1.5em;
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 1rem;
    background-color: var(--yellow);
    border-radius: 0 0 25px 25px;
    text-decoration: none;
}

.sticky a{
    text-decoration: none;
    color: black;
    font-family: var(--inter);
    font-weight: bold;
    font-style: italic;
}

.sticky a:hover{

    color: var(--white);

}

header{
    text-align: center;
}



header h1{
    border-radius: 0 0 25px 25px;
    background-color: var(--lavender);
    padding: 3rem 2rem 2rem;
    z-index: 5;
}

header p{
    text-overflow: ellipsis "";
    overflow: hidden;
    white-space: nowrap;
    background-color: var(--pink);
    position: relative;
    top: -10px;
    border-radius: 0 0 25px 25px;
    text-align: center;
    padding: 1rem 7rem 1rem;
    z-index: -1;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;
}

nav ul{
    display: none;
}

nav ul a:hover{
    color:var(--white);
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--yellow);
}

h4{
    font-size: 1.15em;
}

header p{
    color: var(--white);
}

section{
    padding: 0.5rem;
}

section:nth-child(even){
    background-color: var(--pink);
}

.container1 div, .container2 div, .container3 div, .container4 div{
    background-color: var(--white);
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

#services div h4{
    color: var(--purple);
    font-weight: bold;
    margin: 1rem 0 1rem 0;
}

#services div p{
    line-height: 1.5;
}

#why ul{
    margin-top: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#why li{
    text-align: center;
    padding: 2rem 2rem;
    margin: .5rem;
    border-radius: 15px;
    font-weight: bold;
}

.personal{
    background-color: var(--Teal);
}

.proven{
    background-color: var(--lavender);
}

.supp{
    background-color: var(--yellow);
}

.flexi{
    background-color: var(--white);
}




#prices h3{

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    
}



#prices table, th, td{
    margin: auto;
    border: 2px solid var(--yellow);
    width: 80%;
    max-width: 300px;
    padding: 1rem 0.7rem 1rem 0.7rem;

}

#prices table thead{
    background-color: var(--yellow);
    font-weight: bold;
    text-transform: uppercase;
}

#prices table tbody{
    background-color: var(--white);
    text-align: left;
}

#prices th{
    font-size: 0.9rem;
}

#prices table tbody th + th{
    text-align: center;

}


#step{
    padding: 1rem;
}

#step p{
    padding-top: .5rem;
    padding-bottom: .5rem;
    line-height: 1.5;
    color: var(--white);
}

.button{
    padding: 1.5rem;
    margin:auto;
    width: 80%;
    text-align: center;
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;

}

.button a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

footer{
    background-color: var(--lavender);
    text-align: center;
    border-radius: 0 0 25px 25px;
    margin-bottom: 2rem;
}

footer p, footer a{
    display: inline-block;

    padding: 2rem 2rem;
    color: var(--white);
}



/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media screen and (min-width: 620px){

    .container1, .container2{
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
    }

    .container1 div:last-of-type{
        grid-column: 1 / 3;
    }

    #why ul{
        display: flex;
        
        gap: 1rem;
    }

    
    #why ul li{
        margin:auto;
        padding: 5vh 3vw;

        
    }


    .prcTbl {
        display: grid;
        grid-template-columns: 1fr 1fr;


    }

    #prices table{

        width: 85%;

    
    }

    #step div{
        display: flex;
    }

    #step p{
        width: 70%;
    }

    .button{
        margin-top: 1rem;
        margin-left: 0.5rem;
    }

    .button a{
        margin: auto;
    }


    footer p, footer a{

        padding: 2rem 10%;

    }
    
}


/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media screen and (min-width: 950px){

    .sticky, .sticky a{
        display: none;
    }

    nav ul{
        
        display: flex;
        font-size: .8em;
        position: fixed;
        top: 0px;
        right: 0px;
        padding: 1rem;
        background-color: var(--yellow);
        border-radius: 0 0 25px 25px;
        text-decoration: none;
        white-space: nowrap;
        width: 600px;
        
    }

    nav ul a{
        text-decoration: none;
        color: black;
        font-family: var(--inter);
        font-weight: bold;
        text-transform: uppercase;
        margin-left: 1.7rem;
        margin-right: 1.7rem;
    }

    .boxes > div{
        display: flex;
    }

    .container1, .container2, .container3, .container4{
        display: block;
    }

    .one, .two, .three, .four{
        margin-top: 0.5rem;

        text-align: center;
    }

    .prcTbl {
        display: flex;
        
    }

    .tblgrp{
        margin: auto;
    }


    .table1, .table2, .table3, .table4{
        display: block;
    }
    #step p{
        width: 50%;
        margin-right: 4rem;
    }

    .button{
        margin-top: 1rem;
        margin-left: 6rem;
        margin-right: 5rem;

    }

}
/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
@media screen and (min-width: 1280px){

    main, header{
        margin: auto;
        max-width: 1280px;
    }

    #prices table{

        width: 100%;

    
    }

}
